<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 navbar-custom">
    <div class="container">
        
        <a class="navbar-brand text-success" href="{{ path('app_home') }}">
            Ecoride
        </a>
        
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
                </li>
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if app.user.profilePictureFilename %}
                                <img src="{{ vich_uploader_asset(app.user, 'profilePictureFile') }}" 
                                    alt="Photo de profil de {{ app.user.pseudo }}"
                                    class="rounded-circle me-2"
                                    style="width: 30px; height:30px; object-fit: cover;">
                            {% else %}
                                <img src="{{ asset('images/default-profile-picture.jpg') }}"
                                    alt="Photo de profil par défaut"
                                    class="rounded-circle me-2"
                                    style="width: 30px; height:30px; object-fit: cover;">
                            {% endif %}
                            {{ app.user.pseudo }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('app_user_trips_history') }}">Vos trajets</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_user_profile') }}">Profil</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_user_credits') }}">Ajout de crédits</a></li>
                            <li><hr class="dropdown-divider"></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-item" href="{{ path('app_admin_dashboard') }}">Dashboard Admin</a></li>
                            {% elseif is_granted('ROLE_EMPLOYEE') %}
                                <li><a class="dropdown-item" href="{{ path('app_employee') }}">Dashboard Employé</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                        </ul>
                    </li>
                {% else %}
                    {# Si l'utilisateur n'est PAS CONNECTÉ #}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_signup') }}">Inscription</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>