{% extends 'base.html.twig' %}

{% block title %}Créer un employé {% endblock %}

{% block body %}
    <div class="card shadow-sm mx-auto">
        <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="card-title">Créer un nouvel employé</h1>
                <a href="{{ path('app_admin_dashboard') }}" class="btn btn-secondary">Retour</a>
            </div>

            {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_row(form.name) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.salary) }}
                </div>
                <button type="submit" class="btn btn-primary w-100">Enregistrer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}