<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Confirmation de votre réservation EcoRide</title>
</head>
<body>
    <h1>Confirmation de votre réservation EcoRide</h1>

    <p>Bonjour {{ user.firstName }},</p>

    <p>Nous avons le plaisir de vous confirmer votre réservation pour le covoiturage suivant :</p>

    <ul>
        <li><strong>Départ :</strong> {{ trip.departureLocation }}</li>
        <li><strong>Destination :</strong> {{ trip.destinationLocation }}</li>
        <li><strong>Date et heure de départ :</strong> {{ trip.departureTime|date('d/m/Y H:i') }}</li>
        <li><strong>Places réservées :</strong> {{ booking.seats }}</li>
        <li><strong>Coût :</strong> {{ trip.pricePerSeat * booking.seats }} crédits</li>
    </ul>

    <p>Votre conducteur est : {{ trip.driver.pseudo }} ({{ trip.driver.email }})</p>

    <p>Merci d'utiliser EcoRide !</p>

    <p>L'équipe EcoRide</p>
</body>
</html>